.sessionInterval {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    background: #464646;
    color: #fafafa;
    border: none;
    margin: 1px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: 300ms linear all;
    letter-spacing: 0.075em;
    &:hover {
      background: darken(#464646, 15%);
    }
  }
}
